name: GitHub Actions Validate Inputs
run-name: ${{ github.actor }} is executing GitHub Actions Validate Inputs
on: [push]
jobs:
  yamllint:
    name: 'YAML linting'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5
      - name: 'linting YAML files'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: 'group_vars/ playbooks/ inventory.yml host_vars/'
          yamllint_config_filepath: '.yamllint'
          yamllint_strict: true
          yamllint_comment: false
  avd-run:
    name: 'AVD'
    needs: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: "Install Ansible"
        run: |
          pip install ansible-core==2.19.5
      - name: 'Install AVD'
        run: | 
          pip install "pyavd[ansible]==6.0.0-dev6"
          ansible-galaxy collection install arista.avd:6.0.0-dev6
      - name: 'Checkout'
        uses: actions/checkout@v5
      - name: 'Check files'
        run: ls -lha
      - name: 'Generate AVD configs'
        run: make build
      - name: 'Check files'
        run: ls -lha
